__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.streamlit/secrets.toml

checkpoints/
logs/
plots/
visuals/
outputs/
*_outputs/
*_test/
*.pth
*.pt
*.ckpt
app_artifacts/

venv/
.venv/
env/

Thumbs.db
.DS_Store
